[project]
	description = Old project to listen for a steady stream of text input from a barcode scanner
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/RamkumarPillai (psramkumar)
[access "refs/for/refs/*"]
	read = group user/RamkumarPillai (psramkumar)
	push = group user/RamkumarPillai (psramkumar)
	label-Code-Review = -2..+2 group user/RamkumarPillai (psramkumar)
	label-Verified = -1..+1 group user/RamkumarPillai (psramkumar)
	rebase = group user/RamkumarPillai (psramkumar)
	removeReviewer = group user/RamkumarPillai (psramkumar)
	submit = group user/RamkumarPillai (psramkumar)
[access "refs/heads/*"]
	read = group user/RamkumarPillai (psramkumar)
	create = group user/RamkumarPillai (psramkumar)
	push = +force group user/RamkumarPillai (psramkumar)
	pushMerge = group user/RamkumarPillai (psramkumar)
[access "refs/tags/*"]
	push = +force group user/RamkumarPillai (psramkumar)
	pushTag = group user/RamkumarPillai (psramkumar)
	pushSignedTag = group user/RamkumarPillai (psramkumar)
